*{
    margin: 0px;
    padding: 0px;
    outline: 0px;
    outline: none;
    list-style: none;
    box-sizing: border-box;
    max-height: 100000px;
}

html{
    font-family: "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", "Hiragino Sans GB", "冬青黑体", STXihei, "华文细黑", SimSun, "宋体", BentonSansRegular, Arial, Helvetica, sans-serif;
}

header, footer, article, section, hgroup, nav, figure, aside{
    display:block;
}

#header{
    width: 100%;
    position: relative;
    z-index: 199;
    background: #000;
    height: 70px;
}

#header .container{
    padding: 10px 0px;  
    max-width: 1240px;
    margin: auto;
}

#header .container>.logo{
    float: left;
}

#header .menu-container{
    float: right;
    color: white;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}

#header .menu-container .nav-area>li{
    float: left;
    margin-left:30px;
    padding: 10px 10px 5px 10px;
    border-bottom: 5px solid #000;
}

#header .menu-container .nav-area>li:hover{
    border-bottom: 5px solid #f7b000;
}

#header .menu-container .nav-area>li a{
    text-decoration: none;
    color: white;
    padding: 10px 0px;
    display: block;
    cursor: pointer;
}

#header .menu-container .nav-area>li em{
    font-style: normal;
}

img{
    vertical-align: top;
    max-width: 100%;
    border: 0;
}

#main{
    position: relative;
    background: #fff;
    overflow: hidden;
    width: 100%;
    top: -1px;
}

#footer{
    background: #e9e9e9;
    color: #000;
    padding: 10px 0;
}

.two-columns-container{
    width: 100%;
    display: table;
    height: 100%;
}

.two-columns-container .column-container{
    width: 48%;
    padding: 0px 1% 50px;
    display: table-cell;
    vertical-align: bottom;
}

.link-button{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #008ed4;
    border: 0px;
    color: #fff;
    font-size: 14px!important;
    line-height: 22px;
    font-family: BentonSansRegular, Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
    padding: 5px 22px;
    min-width: 86px;
    display: inline-table;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    text-decoration: none;
}

.link-button:hover{
    background: #003283;
    color: #fff;
}

.link-button a{
    font-size: 14px;
}

.video-button{
    background: url(../resources/play.png) left top no-repeat;
    border: 0px;
    color: #008ed4;
    line-height: 22px;
    font-weight: normal;
    text-align: center;
    padding: 14px 0 17px 56px;
    margin: 30px 35px 0px 0;
    display: inline-table;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-size: 50px;
    cursor: pointer;
}
